
/* ESTILO GERAL */

:root{
    --verde-escuro: #031716;
    --verde: #032f30;
    --verde-claro: #0a7075;
    --verde-claro: #0c969c;
    --azul: #6ba3be;
    --azul-claro: #274d60;
    --blue: #afc9dc;
    --white: #f2f4f6;
    --Dutch-Blue: #98accd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    height: 100vh;
}

.flex{
    height: fit-content;
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Estilo Do Cabeçalho */

header{
    padding: 0px 4%;
    background-color: var(--azul-claro);
    position: sticky;
    top: 0;
    z-index: 999999999;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.menu-desktop{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #dee2e6;
    text-decoration: none;
    display: inline-block;
}

nav ul{
    list-style-type: none;
}

nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

nav.menu-desktop a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
    transform: scale(1.3);
    transition: .2s;
}

header .btn-contato a{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

.titulo{
    color: #000;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.titulo2{
    color: var(--verde-claro);
    font-size: 40px;
}

.btn-contato #btn{
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--azul-claro);
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
}

.btn-contato #btn:hover, form .btn-enviar input:hover{
    transform: scale(1.15);
    transition: .2s;
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu svg{
    color: var(--white);
}

.overlay-menu{
    background-color: #00000089;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.menu-mobile{
    background-color: var(--white);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: 1s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar path{
    color: var(--verde-escuro);
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: var(--verde-escuro);
    color: #fff;
}


/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 0 4%;
    height: 100vh;
    background-image: url(/imgs/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

section.topo-do-site .btn-contato{
    margin-top: 50px;
}

.img-topo-site{
    height: 100%;
    object-fit: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-img{
    width: 95%;
    height: 95%;
    padding-top: 5px;
    padding-right: 5px;
    border: 1px solid var(--azul-claro);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.topo-do-site h1{
    color: var(--verde);
    font-size: 110px;
    line-height: 90px;
    font-weight: 600;
}

.h1-scroll{
    display: flex;
}

.espaco{
    opacity: 0;
}

.topo-do-site h6{
    color: var(--verde);
    font-size: 25px;
    margin-left: 20px;
    font-weight: 400;
}


.btn-contato #btn-down{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--verde-escuro);
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
}

.btn-contato #btn-down:hover{
    transform: scale(1.15);
    transition: .2s;
}

.socials{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.socials .social-item {
    display: block;
    margin: 0 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--azul-claro);
    color: var(--azul-claro);
    text-align: center;
    line-height: 40px;
    transition: all 0.3s;
    text-decoration: none;
}

.socials .social-item:hover {
    background-color: var(--azul-claro);
    color: var(--white);
}


[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ti-github:before {
    content: "\e73f";
}

.ti-linkedin::before{
    content: "\e735";
}

/* ESTILO DO SOBRE MIM */

section.sobre{
    padding: 40px 4%;
    height: 100vh;
    background: var(--white);
}

/* section.sobre h2{
    margin-bottom: 0;
} */

section.sobre .flex{
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.img-sobre-site img{
    height: 450px;
    border-radius: 20px;
}

.txt-topo-site{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt-topo-site h3{
    color: #000;
    font-size: 30px;
    margin-bottom: 5px;
    line-height: 30px;
}
.txt-topo-site span{
    color: var(--verde-claro);
}

.txt-topo-site h4{
    color: #313238;
    margin-bottom: 20px;
}

/* skils */

section.section{
    padding: 40px 0 4%;
    height: fit-content;
    background-color: var(--white);
}

.text-center {
    text-align: center !important;
  }

.txt-skils span{
    color: var(--verde-claro);
}

.txt-skils h6{
    padding-bottom: 10px;    
}

.mb-3{
    margin-bottom: 1rem !important;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.mb-5{
    margin-bottom: 8rem !important;
}

.section-title {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
}

  @media (min-width: 992px) {
    .section-title {
      font-size: 30px;
    }
  }

.subtitle {
    font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1200 - 320)));
    opacity: .8;
}
  
  @media (min-width: 992px) {
    .subtitle {
      font-size: 15px;
    }
  }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    unicode-bidi: isolate;
}
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

.text-left {
    text-align: left !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-6{   
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
display: block;
unicode-bidi: isolate;
}

@media (min-width: 576px) {
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.progress {
    background: #dee2e6;
    border-radius: 0.2rem;
    margin-bottom: 80px;
    display: flex;
    height: 5px;
    overflow: hidden;
    font-size: 0.75rem;
    unicode-bidi: isolate;
}

.progress .progress-bar:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: -4px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--azul-claro);
    box-shadow: 0 0 10px rgba(38, 34, 255, 0.5);
}

.progress .progress-bar span {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    opacity: .7;
    bottom: 18px;
    right: -14px;
}

element.style {
    width: 89%;
}

.progress .progress-bar {
    position: relative;
    height: 100%;
    text-align: left;
}

.bg-primary {
    background-color: var(--verde-claro) !important;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: var(--verde-claro);
    transition: width 0.6s ease;
}

/* ESTILO DO PORTFÓLIO */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #00000067;
    background-color: var(--Dutch-Blue);
}

section.portfolio .colums{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    height: 100%;
}

.portfolio .titulo2{
    color: var(--white);
}

.img-port.colum-center{
    height: 490px;
}

.project-colums{
    width: 100%;
    height: 100%;
    gap: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.img-port{
    width: 360px;
    height: 230px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 6s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009e;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

.overlay .text a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    line-height: 40px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.overlay .text a:hover{
    border: 2px solid var(--verde-claro);
    background-color: var(--verde-claro);
    color: #fff;
}

.ti-link:before {
    content: "\e62d";
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.text p{
    text-align: center;
    width: 80%;
}

.text h5{
    font-size: 30px;
    font-weight: 600;
}

/* ESTILO DO FOMULÁRIO DE CONTATO */
section.formulario{
    padding: 80px 4%;
    background-color: var(--white);
}

.div-form{
    display: flex;
    flex-direction: row;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

.linha{
    height: 463px;
    width: 1px;
    background-color: #313238;
    margin-left: 40px;
}

form{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

form input, form textarea{
    width: 100%;
    background-color: #00000035;
    border: 0;
    outline: none;
    padding: 20px 15px;
    color: #fff;
    border-radius: 15px;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: var(--verde-claro);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

.contact-infos{
    align-self: center;
    margin-left: 30px;
    min-width: 350px;
    height: 463px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.contact-infos hr{
    width: 100%;
    background-color: #313238;
    line-height: 0px;
}

.contact-infos .item {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}
.contact-infos .item i{
    display: block;
    width: 40px;
    font-size: 16px;
    color: primary;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid var(--verde-claro);
    line-height: 34px;
    text-align: center;
    padding: 0 !important;
    color: var(--verde-claro);
    margin-right: 15px;
}

.contact-infos .item i:hover{
    background-color: var(--verde-claro);
    color: #fff;
}

.contact .contact-infos .item div{
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 25px;
    flex-grow: 1;
}

.contact-infos .item div h5{
    margin-bottom: 10px;
    opacity: .9;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.contact-infos .item div p{
    opacity: .7;
    font-size: 15px;
    margin-bottom: 4px;
    letter-spacing: .6px;
}

/* ESTILO DO RODAPÉ */

footer{
    padding: 0px 4%;
    box-shadow: 0 0 40px 10px #00000067;
    background-color: var(--azul-claro);
    height: fit-content;
}

footer .flex{
    justify-content: space-between;

}

footer .line-footer{
    padding: 20px 0;
    width: 100%;
}

footer .socials .social-item {
    border: 2px solid #dee2e6;
    color: #dee2e6;
}

footer .socials .social-item:hover {
    background-color: var(--white);
    color: var(--azul-claro);
}

.borda{
    border-top: 2px solid #fff;
}

footer .line-footer p i{
    color: #fff;
    font-size: 22px;
}

footer .line-footer p a{
    color: #dee2e6;
}

footer .line-footer p a:hover{
    color: #fff;
}

/* MOBILE */

@media screen and (max-width: 1040px){
    /* CLASSES GERAIS */
    .btn-abrir-menu{
        display: block;
    }

    .flex{
        flex-direction: column;
    }

    .menu-desktop, header .btn-contato, .sobre #btn-down{
        display: none;
    }

    /* CABEÇALHO */
    .logo img{
        width: 120px;
    }

    /* TOPO DO SITE */

    section.topo-do-site{
        padding: 47px 4%;
        background-color: var(--Dutch-Blue);
        background-image: none;
    }

    .img-topo-site img{
        display: none;
    }

    .topo-do-site h1{
        font-size: 55px;
    }
    
    .topo-do-site h6{
        margin-left: 10px;
    }

    .socials{
        margin-top: 80px;
    }
    
    .btn-contato #btn-down{
        height: 65px;
        font-size: 15px;
        width: 120px;
    }

    .btn-contato #btn{
        height: 65px;
        width: 120px;
        font-size: 15px;
    }
    

    /* SOBRE */

    section.sobre{
        height: fit-content;
    }

    .img-sobre-site img{
        width: 100%;
    }

    section.sobre .flex{
        gap: 30px;
        flex-direction: column-reverse;
    }

    

    /* PORTIFOLIO */

    /* .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    } */

    .img-port .overlay{
        opacity: 1;
    }

    .project-colums{
        flex-direction: column;
    }


    /* CONTATO */

    .div-form{
        width: 100%;
    }

    .linha, .contact-infos{
        display: none;
    }

    .interface{
        height: fit-content;
        align-items: normal;
    }

    /* footer */

    .line-footer .flex{
        flex-direction: row;
        text-align: center;
    }

    .line-footer .logo-footer{
        display: flex;
        align-items: normal;
        justify-content: space-between;
    }

    .line-footer .logo-footer img{
        width: 120px;
    }

    .line-footer .socials{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }


}