
/* ESTILO GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    height: 100vh;
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
/* Estilo Do Cabeçalho */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-desktop{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #000;
    text-decoration: none;
    display: inline-block;
}

nav ul{
    list-style-type: none;
}

nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

nav.menu-desktop a:hover{
    color: #1929a2;
    transform: scale(1.3);
    transition: .2s;
}

header .btn-contato a{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

.titulo{
    color: #000;
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
}

.titulo2{
    color: #1929a2;
    font-size: 40px;
}

.btn-contato #btn{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #1929a2;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
}

.btn-contato #btn:hover, form .btn-enviar input:hover{
    transform: scale(1.15);
    transition: .2s;
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu svg{
    color: #1929a2;
}

.overlay-menu{
    background-color: #00000089;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.menu-mobile{
    background-color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: 1s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar path{
    color: #1929a2;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #1929a2;
    color: #fff;
}


/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 0px 4%;
    padding-bottom: 40px;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.topo-do-site h1{
    color: #000;
    font-size: 110px;
    line-height: 90px;
    font-weight: 600;
}

.topo-do-site h6{
    color: #000;
    font-size: 25px;
    margin-left: 20px;
    font-weight: 400;
}

.txt-topo-site .btn-contato{
    padding-top: 40px;
}

.btn-contato #btn-down{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #313238;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
}

.btn-contato #btn-down:hover{
    transform: scale(1.15);
    transition: .2s;
}

.socials{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.socials .social-item {
    display: block;
    margin: 0 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #1929a2;
    color: #1929a2;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s;
    text-decoration: none;
}

.socials .social-item:hover {
    background: #1929a2;
    color: #fff;
}


[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ti-github:before {
    content: "\e73f";
}

.ti-linkedin::before{
    content: "\e735";
}

/* ESTILO DO SOBRE MIM */

section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.img-sobre-site img{
    height: 450px;
    border-radius: 20px;
}

.txt-topo-site h3{
    color: #000;
    font-size: 30px;
    margin-bottom: 5px;
    line-height: 30px;
}
.txt-topo-site span{
    color: #1929a2;
}

.txt-topo-site h4{
    color: #313238;
    margin-bottom: 20px;
}

/* ESTILO DO PORTFÓLIO */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #00000067;
}

section.portfolio .flex{
    justify-content: space-around;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 6s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009e;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

.overlay .text a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    line-height: 40px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.overlay .text a:hover{
    border: 2px solid #1929a2;
    background-color: #1929a2;
    color: #fff;
}

.ti-link:before {
    content: "\e62d";
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.text h5{
    font-size: 30px;
    font-weight: 600;
}

/* ESTILO DO FOMULÁRIO DE CONTATO */
section.formulario{
    padding: 80px 4%;
}

.div-form{
    display: flex;
    flex-direction: row;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

.linha{
    height: 463px;
    width: 1px;
    background-color: #313238;
    margin-left: 40px;
}

form{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

form input, form textarea{
    width: 100%;
    background-color: #00000035;
    border: 0;
    outline: none;
    padding: 20px 15px;
    color: #fff;
    border-radius: 15px;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #1929a2;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

.contact-infos{
    align-self: center;
    margin-left: 30px;
    min-width: 350px;
    height: 463px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.contact-infos hr{
    width: 100%;
    background-color: #313238;
    line-height: 0px;
}

.contact-infos .item {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}
.contact-infos .item i{
    display: block;
    width: 40px;
    font-size: 16px;
    color: primary;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid #1929a2;
    line-height: 34px;
    text-align: center;
    padding: 0 !important;
    color: #1929a2;
    margin-right: 15px;
}

.contact-infos .item i:hover{
    background-color: #1929a2;
    color: #fff;
}

.contact .contact-infos .item div{
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 25px;
    flex-grow: 1;
}

.contact-infos .item div h5{
    margin-bottom: 10px;
    opacity: .9;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.contact-infos .item div p{
    opacity: .7;
    font-size: 15px;
    margin-bottom: 4px;
    letter-spacing: .6px;
}

/* ESTILO DO RODAPÉ */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #00000067;
}

footer .flex{
    justify-content: space-between;

}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #1929a2;
}

footer .line-footer p i{
    color: #1929a2;
    font-size: 22px;
}

footer .line-footer p a{
    color: #000;
}
/* DESKTOP */

@media screen and (max-width: 1040px){
    /* CLASSES GERAIS */
    .btn-abrir-menu{
        display: block;
    }

    .flex{
        flex-direction: column;
    }

    .menu-desktop, header .btn-contato, .sobre #btn-down{
        display: none;
    }

    /* CABEÇALHO */

    .logo img{
        width: 150px;
    }

    /* TOPO DO SITE */

    section.topo-do-site{
        padding: 47px 4%;
    }

    .img-topo-site img{
        display: none;
    }

    .topo-do-site h1{
        font-size: 55px;
    }
    
    .topo-do-site h6{
        margin-left: 10px;
    }
    
    .txt-topo-site .btn-contato{
        padding-top: 50px;
        display: flex;
    }

    .socials{
        margin-top: 90px;
    }
    
    .btn-contato #btn-down{
        height: 65px;
        font-size: 15px;
        width: 120px;
    }

    .btn-contato #btn{
        height: 65px;
        width: 120px;
        font-size: 15px;
    }
    

    /* SOBRE */

    .sobre .flex{
        flex-direction: column-reverse;
    }

    .img-sobre-site img{
        width: 100%;
    }

    section.sobre .flex{
        gap: 30px;
    }

    /* PORTIFOLIO */

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }

    /* CONTATO */

    .div-form{
        width: 100%;
    }

    .linha, .contact-infos{
        display: none;
    }

    /* footer */

    .line-footer .flex{
        flex-direction: column;
        text-align: center;
    }

    .line-footer .logo-footer{
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .line-footer .logo-footer img{
        width: 220px;
    }

    .line-footer .socials{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }


}